<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<p>
  <strong>Username:</strong>
  <%=current_user.name %>
</p>

<h2> <%=current_user.name %>'s events </h2>
<ul>
  <% current_user.attended_events.each do |event| %>
      <%= link_to event.title, event_path(event.id)%>
  <%end%>
</ul>

<h2> Upcoming Events </h2>
<ul>
  <% @upcoming_events.each do |event| %>
      <li>
        <p><strong>Event name</strong> <br><%= event.title %></p>
        <p><strong>Event description</strong> <br><%= event.description %></p>
        <p><strong>Event date</strong> <br><%= event.date %></p>
        <p><strong>Event location</strong> <br><%= event.location%></p>
      </li>
  <% end %>
</ul>
<h2> Past Events </h2>
<ul>
  <% @past_events.each do |event| %>
      <li>
        <p><strong>Event name</strong> <br><%= event.title %></p>
        <p><strong>Event description</strong> <br><%= event.description %></p>
        <p><strong>Event date</strong> <br><%= event.date %></p>
        <p><strong>Event location</strong> <br><%= event.location%></p>
      </li>
  <% end %>
</ul>