<br>
<br>
<br>
<br>
<br>

<h2> All events </h2>

<h2> Upcoming Events </h2>
<ul>
  <% @upcoming_events.each do |e| %>
    <li><%= link_to e.title, event_path(e)%>
        <%= e.description %>
        <%= e.date %>
        <%= e.location %>
    </li>
  <% end %>
</ul>

<h2> Past Events </h2>
<ul>
  <% @past_events.each do |e| %>
    <li><%= link_to e.title, event_path(e)%>
        <%= e.description %>
        <%= e.date %>
        <%= e.location %>
    </li>
  <% end %>
</ul>

<%create_event%>

<%=@new_event_btn%>
  
