<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<div class="card">
  <h4 class="card-header bg-success">
    <%= @event.title %>
  </h4>
  <div class="card-body">
    <p class="card-text"><strong>Description: </strong><%= @event.description %></p>
    <p class="card-text"><strong>Date: </strong>  <%= @event.date %></p>
    <p class="card-text"><strong>Location: </strong>  <%= @event.location %></p>
    <p class="card-text"><strong>By </strong> <%= @event.user.name %></p>
    <p class="card-text"><strong>Attendees:</strong></p>
    <ul class="list-group list-group-flush">
      <% @event.attendees.each do |a| %>
        <li class="list-group-item"><%= a.name%></li>
      <%end%>
    </ul>

    <%if !current_user.attended_events.find_by_id(@event.id) %>
        <button type="button" class="btn btn-success"><%= link_to 'Go', attendances_path(:event_id => @event.id, :user_id => current_user.id), :method => :post %></button>
    <%else%>
        <button type="button" class="btn btn-success"><%= link_to 'Leave this event', attendance_path(:event_id => @event.id, :user_id => current_user.id), method: :delete %></button>
    <%end%>

    <%if @event.user.name == current_user.name %>
        <%= link_to 'Delete event', event_path(@event), method: :delete %>
    <%end%> 

  </div>
</div>






