<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<div class="card">
  <h4 class="card-header bg-success">
    <%= @event.title %>
  </h4>
  <div class="card-body">
    <p class="card-text"><strong>Description: </strong><%= @event.description %></p>
    <p class="card-text"><strong>Date: </strong>  <%= @event.date %></p>
    <p class="card-text"><strong>Location: </strong>  <%= @event.location %></p>
    <p class="card-text"><strong>By </strong> <%= @event.user.name %></p>
    <p class="card-text"><strong>Attendees:</strong></p>
    <ul class="list-group list-group-flush">
      <% @event.attendees.each do |a| %>
        <li class="list-group-item" id="attendee"><%= a.name%></li>
      <%end%>
    </ul>
    
    <%@e_id = @event.id%>
    <%current_user_attended_event%>
    <%=@go%>
    <%=@leave%>
    <%del_btn%>
    <%=@del%>

  </div>
</div>






